# {{ ansible_managed }}

# --------------------------------------
# Global configuration
# --------------------------------------
global:
  scrape_interval: {{ prometheus_scrape_interval }}
  evaluation_interval: {{ prometheus_evaluation_interval }}
  external_labels:
    {{ prometheus_external_labels | to_nice_yaml(indent=2) | indent(4, False) }}

{% if prometheus_mode == "agent" %}
# --------------------------------------
# Remote write configuration
# --------------------------------------
remote_write:
- url: {{ prometheus_write_target }}/api/v1/write
{% endif %}


# --------------------------------------
# Scrape configuration
# --------------------------------------
scrape_configs:
  {{ prometheus_scrape_configs | to_nice_yaml(indent=2) | indent(2) }}

# --------------------------------------
# Additional configuration
# --------------------------------------
{% if prometheus_extra_config is defined and prometheus_extra_config|length %}
{{ prometheus_extra_config | to_nice_yaml(indent=2) | indent(2) }}
{% endif %}
