#jinja2: lstrip_blocks: "True"
{{ prometheus_var_config | to_nice_yaml(indent=2) }}
{% if prometheus_node_exporter_group %}
{% for host in groups[prometheus_node_exporter_group] %}
- job_name: {{ host }}_node_exporter
  scrape_interval: 15s
  static_configs:
  - targets:
    - {{ hostvars[host].private_ip_address }}:{{ node_exporter_listen_port }}
{% endfor %}
{% endif %}
