[Unit]
Description=Prometheus
Wants=network-online.target
After=network-online.target

[Service]
User={{ prometheus_user }}
Group={{ prometheus_group }}
Type=simple
ExecStart={{ prometheus_bin_dir }}/prometheus \
  --config.file={{ prometheus_conf_dir }}/prometheus.yml \
  --storage.tsdb.path={{ prometheus_data_dir }} \
  --storage.tsdb.retention.time={{ prometheus_retention_time }} \
  --web.listen-address={{ prometheus_listen_address }} \
{% if prometheus_mode == "server" %}
  --enable-feature=remote-write-receiver
{% elif prometheus_mode == "agent" %}
  --enable-feature=agent
{% else %}
{% endif %}

ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target